$white: white;
$gray: lightgray;
$green: #4ab471;
$black: black;

$art_color: #8364d6;
$biology_life_sciences_color: #15a8fc;
$business_management_color: #ffbb00;
$chemistry_color: #15a8fc;
$cs_artificial_intelligence_color: #4d72a9;
$cs_software_engineering_color: #4d72a9;
$cs_systems_security_color: #4d72a9;
$cs_theory_color: #4d72a9;
$economics_finance_color: #15a8fc;
