<nav class="navbar custom-nav">
  <p style="padding-left: 20px">Congratulations!</p>
</nav>

<section class="group-page">
  <div class="process-success section">
    <div class="logo"></div>
    <p style="font-size: 1.7em">You have successfully joined {{group.name}}!</p>
  </div>

  <section class="section members">
    <ul>
      <li ng-repeat="member in group.members()">
        <img class="member-img" ng-src="{{member.profileImageUrl}}" alt="{{member.fullName}}">
      </li>
    </ul>
  </section>
</section>
